body {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #2e2e2e;
}

#credits {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Arial";
    color: gray;
    font-style: italic;
}

#slide {
    width: 250px;
    height: 250px;
}

#btn_container{
    margin-top: 30px;
    position: sticky;
    width: 700px;
    height: 50px;
    display: grid;
}

#button_container_on{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_on{
  font-family: "Courier New";
  width: 25%;
  height: 90%;

  font-size: 30px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 10px;
  background-color: #EF233C;
}

#button_container_off{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_off{
  font-family: "Courier New";
  width: 25%;
  height: 90%;

  font-size: 30px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 10px;
  background-color: #EF233C;
}

/*.button {
    margin-top: 50px;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}*/

/* optional reset for presentation *//*
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}
span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}*/