body {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #2e2e2e;
}

#credits {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Arial";
    color: gray;
    font-style: italic;
}

#slide {
    width: 250px;
    height: 250px;
}

.button {
  margin-top: 50px;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  color: #000000;
  text-transform: uppercase;
  font-style: bold;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  background-color: #fcce03;
  border-radius: 10px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 100px;
  background-color: #fcb103;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.button:hover {
  color: #000000;
}
.button:hover:before {
  width: 100%;
}